.headers {
    align-self: center;
    background-color: lightblue; 
    border: solid 1px;
    font-size:xx-large;
    margin-bottom: 10px;
}

.Case {
    margin-bottom: 10px;
    background-color: lightblue; 
    border: solid 1px; 
}